<div>
        <h1 class="text-center">Welcome To EMART</h1>
      
        <div class="row justify-content-start">
          <div class="col-md-4 d-flex justify-content-center" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
              <img [src]="product.image" alt="{{ product.title }}" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">{{ product.title }}</h3>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-grid gap-2">
                  <button class="btn btn-success" (click)="addToCart(product)">Add to Cart</button>
                  <button class="btn btn-warning" (click)="BuyNow(product)">Buy Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     